@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;600;700;900&display=swap');


:root {
  --vt-scroll-thumb-color-light: #C1C1C1 ;
  --vt-scroll-track-color-light: #F1F1F1;

  --vt-scroll-thumb-color-dark: #767676;
  --vt-scroll-track-color-dark: #242424;
}

/* Firefox */
* {
  scrollbar-width: thin; 
  scrollbar-color:  var(--vt-scroll-thumb-color-light) var(--vt-scroll-track-color-light);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7.5px;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar-thumb {
  background: var(--vt-scroll-thumb-color-light);
  border-radius: 10px; 
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar-track {
  background: var(--vt-scroll-track-color-light);
}

/* darkmode styles */
.dark {
  &, * {
    scrollbar-color:  var(--vt-scroll-thumb-color-dark) var(--vt-scroll-track-color-dark);
  }
  &, *::-webkit-scrollbar-thumb {
    background: var(--vt-scroll-thumb-color-dark);
  }
  &, *::-webkit-scrollbar-track {
    background: var(--vt-scroll-track-color-dark);
  }
}


/* RTL & Persian Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  direction: rtl;
}

:root {
  --vt-font-family-base: 'Vazirmatn', sans-serif !important;
  --vp-font-family-mono: 'Vazirmatn', sans-serif !important;
}

.license {
  direction: ltr;
}

.vt-link-icon {
  margin-left: 0;
  margin-right: 4px;
}

.vt-doc ul {
  padding-right: 1.25rem;
  padding-left: 0 !important;
}

.vt-doc ul > li:before {
  right: -1.25rem;
}

.vt-doc .custom-block {
  padding: 20px 40px 4px 42px !important;
}

.vt-doc .custom-block:before {
  left: auto !important;
  right: 17px;
}

.outline-title {
  direction: rtl;
}

.vt-doc .header-anchor {
  float: right !important;
  margin-right: -1.1em;
  padding-left: 0.23em;
}

.vt-icon {
  margin-right: 0px !important;
  margin-left: 8px;
}

.top-link,
.VPNavScreenMenu {
  direction: rtl;
}

.outline-marker {
  left: auto !important;
  right: -12px;
}

.vt-doc ol > li {
  padding-left: unset !important;
  padding-right: 1.5rem !important;
  text-align: right;
}

.vt-doc ol > li::before {
  left: unset !important;
  right: 2px !important;
}

.vt-menu-link {
  direction: rtl;
}

.join-translations {
  direction: rtl;
}

.aside-container .VPContentDocOutline .nested {
  padding-left: unset;
  padding-right: 1rem;
}